html, body {
  height: 100%;
  margin: 0;
}
h1 {
  padding: 0.5em;
  margin: 0;
  background-color: #336799;
  color: white;
  border-bottom: 2px solid black;
}
h3 {
  padding: 0;
  margin: 0;
  margin-bottom: 0.5em;
}
select {
  margin-right: 2em;
}
button {
  display: block;
  margin: 0.5em 0;
}
a {
  cursor: pointer;
  margin: 0.25em;
}
a {
  color: #336799;
}
a:link {
  color: #336799;
}
a:visited {
  color: #336799;
}
a:hover {
  color: #5387b9;
}
a:active {
  color: #73a7d9;
}

.leaflet-container {
  float: left;
  height: 800px;
  width: 50%;
  max-height: 70%;
}
#setup {
  padding: 0.5em;
  border-bottom: 2px solid black;
}
#field-options {
  padding: 0.5em;
  border-bottom: 2px solid black;
  display: none;
}
#preview {
  float: left;
  height: 800px;
  width: 50%;
  max-height: 70%;
}
#preview-frame {
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  border: none;
  overflow: hidden;
}
#table {
  display: none;
}
#table-options {
  padding: 0.5em;
}
#data-table {
  border-top: 2px solid black;
}
#data-table th {
  background-color: #336799;
  color: white;
  border: 1px solid black;
  border-bottom: 2px solid black;
}
#data-table th a {
  color: #b3e7ff;
}
#data-table th a:link {
  color: #b3e7ff;
}
#data-table th a:visited {
  color: #b3e7ff;
}
#data-table th a:hover {
  color: #93c7df;
}
#data-table th a:active {
  color: #73a7bf;
}
#data-table tr {
}
#data-table tr:nth-child(odd) {
  background-color: #f3f6fa;
}
#data-table tr td {
  border: 1px solid black;
  margin: 0;
  cursor: pointer;
}
#column-select-dialog {
  visibility: hidden;
  display: none;
  top: 0;
  left: 0;
  max-width: 300px;
  max-height: 300px;
  position: absolute;
  background: white;
  color: #336799;
  border: 2px solid black;
  z-index: 4000;
  padding: 0.5em;
}
#filter-dialog {
  visibility: hidden;
  display: none;
  top: 0;
  left: 0;
  max-width: 300px;
  max-height: 300px;
  position: absolute;
  background: white;
  color: #336799;
  border: 2px solid black;
  z-index: 4000;
  padding: 0.5em;
}
#filter-dialog input {
  display: block;
}